<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1+2 %></h3>
    <h3> <%= "apnacollege".toUpperCase()%></h3>
     <h3> <%= ["hello","world","enjoy"][0]%></h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veritatis, eaque magni, accusantium vel quidem tempore incidunt, enim consectetur assumenda soluta. Dolor obcaecati rerum voluptas facere, dolore nostrum quasi adipisci!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quos magni officia saepe aliquam voluptates necessitatibus earum laudantium consequuntur in assumenda aspernatur voluptatem quis, laborum ratione sit veritatis temporibus autem.
    </p>
    <button>click me!</button>
</body>
</html>